body{
background-color: pink;
display: flex;
justify-content: center;
font-size: 30px;
margin: 100px;

}

form{
text-align: center;
background-color: hotpink;
padding: 30px;
border-radius: 10px;
margin: 100px;
#submit{
	background-color: pink;
	border-radius: 5px;
	transition: 0,8s;
}



